.uk-section-large {
    padding-top: 20px;
    padding-bottom: 20px;
}

.uk-section-muted{
    background-color: rgba(243, 242, 242, 0.836);
}

h5{
    margin-bottom: 5px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.padAll{
    padding-bottom: 250px;
}